apiVersion: v1
kind: Secret
metadata:
  name: {{ argocd_repo_secret_name }}
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_repo_url | to_json }}
{% if argocd_repo_username | default('') | length > 0 %}
  username: {{ argocd_repo_username | to_json }}
  password: {{ argocd_repo_password | to_json }}
{% endif %}
{% if argocd_repo_ssh_private_key | default('') | length > 0 %}
  sshPrivateKey: |
{% for line in argocd_repo_ssh_private_key.splitlines() %}
    {{ line }}
{% endfor %}
{% endif %}
